<!DOCTYPE html>
<html>
<head>
  <title>Oseror</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= javascript_include_tag "jquery",'jquery.min' %>
  <%= csrf_meta_tag %>
  <meta name="keywords" content="Custom Solutions, Website Engineering, knowledge Management, Collaboration and Search, Security and Identity, Business Intelligence, Professional Services, Strategy, Architecture &amp; Technology Selection, Subject Matter Expertise, Program Management, Creative Web Design &amp; User Experience, System Integration, Compliance Expertise, Testing &amp; Quality Assurance, Support Services, Application Support and Maintenance, Product Support and Maintenance, Hosting Services and Support, Fremont, California " />
<meta name="description" content="eTouch Systems delivers enterprise-class Web 2.0 solutions and services to help business and organizations of any size unlock the value of the collective intelligence, insights, and creativity of the entire organization and turn it into competitive advantage. We offer comprehensive and powerful portfolio of products, solutions and services that makes it easy for employees, customers, and partners to contribute, collaborate, and communicate with impact. " />



<script type="text/javascript">
$(document).ready(function(){
	var timer;
	$('.small-text').css('display', 'none');
	$('.small-hero-image').hover(function(){
	$('.small-text',this).css('display', 'block').css('margin-top', '-58px');
	$('.heroimage',this).css('opacity', '0.14');
	},
	function(){
		$('.small-text').css('display', 'none');
		$('.heroimage').css('opacity', '0.9');
	})
})

$(document).ready(function () {
	$('.menu li.topmenu').hover(
        
		function () {
			//$('.menu li a').removeClass('selected');
			$('ul:first', this).stop(true, true).slideDown(130);
			$('li',this).addClass('selected');
			$('ul:first li',this).removeClass('selected');

		},
		function () {
			$('ul.sub-menu', this).css("display","none");
			$('.menu > li').removeClass('selected');
		});
});
	</script>

<!-- Put the following javascript before the closing </head> tag. -->
<script type="text/javascript">
  (function() {
    var cx = '009106585577107666789:4hkmfyokh30';
    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  })();
</script>
</head>
<body>
<!-- Header Container Starts here -->
  <div id="headerContainer"><!-- InstanceBeginEditable name="EditRegion3" --><!-- #BeginLibraryItem "/library/common/header.lbi" --><div class="logo-navigation-container">
  <!-- Logo Container Starts here -->
  <div class="logo-container">

    <a href="index.html"><img src="../images/etouch-logo.png" alt="" title="Oseror"/></a> </div>
  <!-- Logo Container Ends here -->
  <!-- Navigaiton Container Starts here -->
  <div class="navigation-container">
    <div class="navigation-container"> <a href="../about_us/contact-us.html">Contact Us</a><span class="separator">|</span><a href="https://twitter.com/etouchsystems" target="_blank" title="Follow Us on Twitter" class="twitter-icon"></a><a href="http://www.linkedin.com/company/163702" target="_blank" class="linkedin-icon"></a> </div>
    <div class="clear"></div>
  </div>
  <!-- Navigation Container Ends here -->
</div>
<!-- #EndLibraryItem --><!-- InstanceEndEditable -->
    <!-- Menu Container Starts here --><!-- #BeginLibraryItem "/library/common/horz_navbar.lbi" --><div id="menuContainer">
  <div class="menu-div">
    <ul class="menu">
      <li class="first topmenu" id="home"><a href="index.html">Home</a></li>
      <li class="separator"></li>
      <li id="services" class="topmenu"><a href="../services/index.html">Services</a>
        <ul class="sub-menu">
          <li class="top"></li>
          <li class="shadow">
            <ul>
              <li><a href="../services/web_development.html">Web Development</a></li>
              <li><a href="../services/design.html">Design</a></li>
              <li><a href="../services/mobility.html">Mobility</a></li>
              <li><a href="../services/test-engineering.html">Test Engineering</a></li>              
              <li><a href="../services/outsourcing.html" class="no-border">Outsourcing</a> </li>
            </ul>
          </li>
          <li class="bottom"></li>
        </ul>
      </li>
      <li class="separator"></li>
      <li id="product" class="topmenu"><a href="../products/samepage/index.html">Product</a>
      	<!--<ul class="sub-menu">
          <li class="top"></li>
          <li class="shadow">
            <ul>
              <li><a href="../products/samepage/index.html" class="no-border">SamePage - Enterprise Wiki</a></li>
            </ul>
          </li>
          <li class="bottom"></li>
        </ul>-->
      </li>
      <li class="separator"></li>
      <li id="customers" class="topmenu"><a href="../customers/index.html">Customers</a>
      	<ul class="sub-menu">
          <li class="top"></li>
          <li class="shadow">
            <ul>
              <li><a href="../customers/index.html">Customer List</a></li>
              <li><a href="../customers/case-studies/index.html" class="no-border">Case Studies</a></li>
            </ul>
          </li>
          <li class="bottom"></li>
        </ul>
      </li>
      <li class="separator"></li>
      <li id="about_us" class="topmenu"><a href="../about_us/index.html">About Us</a>
        <ul class="sub-menu">
          <li class="top"></li>
          <li class="shadow">
            <ul>
              <li><a href="../about_us/partners.html">Technology Alliances and Partnership</a></li>
              <li><a href="../about_us/contact-us.html" class="no-border">Contact Us</a></li>
            </ul>
          </li>
          <li class="bottom"></li>
        </ul>
       </li>
      <li class="separator"></li>
      <li id="career" class="topmenu"><a href="../careers/index.html">Careers</a></li>
      <li class="separator"></li>
    </ul>
	<div class="search-container">
<!-- Place this tag where you want the search box to render
	<gcse:searchbox-only></gcse:searchbox-only>-->
    </div>
  </div>
</div>
<!-- #EndLibraryItem --><!-- Menu Container Ends here -->
  </div>
  <!-- Header Container Ends here -->
<%= yield %>
<div class="footer-container">
    <div class="left">
      <h3>Services</h3>
      <ul>
        <li><a href="../services/web-development.html">Web Development</a></li>
        <li class="second-list"><a href="../services/design.html">Design</a></li>
        <li><a href="../services/mobility.html">Mobility </a></li>
        <li class="second-list"><a href="../services/test-engineering.html">Test Engineering</a></li>
        <li class="second-list"><a href="../services/outsourcing.html">Outsourcing</a></li>
      </ul>
    </div>
    <div class="vertical-separetor"></div>
    <div class="middle">
      <h3>Product</h3>
      <!--<ul>
        <li><a href="../products/samepage/index.html">SamePage - An Enterprise Wiki</a></li>
        <li><a href="http://support.etouch.net/cm/wiki/Support%20Home.wiki/home/home.html" target="_blank">SamePage Support</a></li>
      </ul>-->
    </div>
		 <div class="vertical-separetor"></div>
    <div class="right">
      <h3>About Us</h3>
      <ul>
        <li><a href="../about_us/contact-us.html">Contact Us</a></li>
		<li><a href="sitemap.html">Sitemap</a></li>
      </ul>
    </div>
    <div class="clear"></div>
    <div class="horizontal-separetor"></div>
    <div class="footer-bottom">
      <div class="left">Copyright 2013 oseror | <a href="homes/terms">Terms of Use</a> | <a href="homes/privacy">Privacy Statement</a></div>
      <div class="clear"></div>
    </div>
  </div>
</body>
</html>
